<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header></header>
    <main>
        <% products.forEach(product =>{ %> 
            <div class="card">
                <img src="<%= product.image %>" alt="">
                <h2><%= product.name %> </h2>
                <p><%= product.price %> </p>
                <p> <%= product.description %> </p>
                <form action="/details/<%=product.id%>?_method=DELETE" method = 'POST' > Delete</form>
                <form action="/details/<%=product.id%>?_method=PUT" class="form" method = 'POST' > 
                    <input type="text"  name="name" value="<%= product.name %>" >
                    <input type="text" name="image" value="<%= product.image %>" >
                      <textarea name="description"  cols="30" rows="10" hidden> <%= product.description %></textarea>
                    <input type="text" name="price"  value="<%= product.price %> " >
                    <button>update</button>

                </form>

            </div>

        <%})%>
    </main>
    <footer></footer>
</body>
</html>